.banner {
    width: 100%;
    position: relative;
    overflow: hidden
}

.banner ul:first-child {
    width: 1000%;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%)
}

.banner ul:first-child li {
    width: 10%;
    float: left
}

.banner ul:first-child li a {
    width: 100%;
    display: block
}

.banner ul:first-child li a img {
    width: 100%;
    height: 5.38rem;
    display: block
}

.banner ul:last-child {
    position: absolute;
    bottom: .3rem;
    left: 55%;
    width: 3.08rem;
    margin-left: -1.2rem
}

.banner ul:last-child li {
    width: .76rem;
    height: .05rem;
    background-color: #7d7d7d;
    float: left;
    margin-left: .1rem
}

.banner ul:last-child li:first-child {
    margin-left: 0
}

.banner ul:last-child li.now {
    background: #fff
}

.nav {
    width: 100%;
    background: #fff;
    margin-bottom: 1rem
}

.nav ul {
    padding: .28rem .13rem
}

.nav ul li {
    width: 3.4rem;
    height: 2.18rem;
    float: left;
    margin-left: .14rem;
    margin-bottom: .14rem
}

.nav ul li:nth-child(1) {
    background-color: #8c22e6
}

.nav ul li:nth-child(2) {
    background-color: #ef6d6d
}

.nav ul li:nth-child(3) {
    background-color: #24ac88
}

.nav ul li:nth-child(4) {
    background-color: #3bb3f0
}

.nav ul li:nth-child(5) {
    background-color: #f0a413
}

.nav ul li:nth-child(6) {
    background-color: #1bc259
}

.nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none
}

.nav ul li a img {
    display: block;
    margin-left: 1.72rem
}

.nav ul li:nth-child(1) a img {
    width: .89rem;
    height: .77rem
}

.nav ul li:nth-child(2) a img {
    width: .99rem;
    height: .75rem
}

.nav ul li:nth-child(3) a img {
    width: 1.13rem;
    height: 1.08rem
}

.nav ul li:nth-child(4) a img {
    width: 1.10rem;
    height: .89rem
}

.nav ul li:nth-child(5) a img {
    width: .93rem;
    height: .79rem
}

.nav ul li:nth-child(6) a img {
    width: .81rem;
    height: .79rem
}

.nav ul li a p {
    font-size: .23rem;
    color: #fff;
    padding-top: .5rem;
    padding-left: .5rem
}