.content{
    width: 100%;
    height: auto;
    /*padding-top: 1.49rem;*/
    position: relative;
}
.content .top{
    width: 100%;
    height: 2.82rem;
    background: url("../img/percenter/topimg02.png")no-repeat center;
    background-size: cover;
    position: relative;
}
.content .top .logo{
    width: 25%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    border: 0.05rem solid #fff;
}
.content .top a{
    display: block;
}
.content .top .setup{
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 0.6rem;
    right: 0.28rem;
    transform: translate(-10%,-80%);
}
.content .center{
    width: 100%;
    height: 2.09rem;
}
.content .center ul{
    width: 100%;
}
.content .center ul li{
    float: left;
    width: 25%;
    height: 2.07rem;
    border: 0.01rem solid #f9f9f9;
    /*margin: 0 0 -0.01rem -0.01rem;*/
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
.content .center ul li a{
    display: block;
}
.content .center ul li span{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.content .center ul li span img{
    height: 0.71rem;
    vertical-align: middle;
    padding-top: 0.5rem;
}
.content .center ul li p{
    padding-top: 0.33rem;
    font-size: 0.24rem;
    color: #797575;

}