.content {
    width: 100%;
    height: 14rem;
    /*padding-top: 1.49rem;*/
    position: relative;
    background-color: #f9f9f9f9;
    overflow: hidden;
}
.content .top{
    width: 100%;
    height: 0.73rem;
    margin-bottom: 0.43rem;
    background-color: #fff;
}
.content .top div{
    display: inline-block;
}
.content .top a{
    color: #000;
    display: block;
}
.content .top .left{
    text-align: center;
    width: 1.19rem;
    height: 0.33rem;
    margin: 0.35rem 0 0 0.47rem;
    font-size: 0.28rem;
}
.content .top .right{
    font-size: 0.28rem;
    margin-left: 0.83rem;
    color: #4185EA;
    border-bottom: 0.02rem solid #4185EA;
}
/*预约列表详情*/
.content .listdet{
    width: 100%;
    height: 8.05rem;
    position: relative;
}
.content .listdet .listtop{
    width: 100%;
    height: 2.33rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 0.03rem;
}
.content .listdet .listtop ul{
    width: 100%;
}
.content .listdet .listtop ul li{
    width: 38%;
    height: 100%;
    float: left;
}
.content .listdet .listtop ul li img{
    width: 1.61rem;
    height: 1.39rem;
    padding: 0.46rem 0 0.46rem 0.46rem;
}
.content .listdet .listtop ul li:nth-child(2){
    padding-top: 0.46rem;
}
.content .listdet .listtop ul li p{
    font-size: 0.28rem;
    line-height: 0.52rem;
}
.content .listdet .listtel, .listid, .listtime, .listqq, .listwx{
    width: 100%;
    height: 0.79rem;
    background-color: #fff;
    margin-bottom: 0.03rem;
}
.content .listdet .listtel p{
    line-height: 0.79rem;
    font-size: 0.27rem;
    position: absolute;
    left: 0.47rem;
}
.content .listdet .listid p {
    line-height: 0.79rem;
    font-size: 0.27rem;
    position: absolute;
    left: 0.47rem;
}
.content .listdet .listtime p{
    line-height: 0.79rem;
    font-size: 0.27rem;
    position: absolute;
    left: 0.47rem;
}
.content .listdet .listqq p{
    line-height: 0.79rem;
    font-size: 0.27rem;
    position: absolute;
    left: 0.47rem;
}
.content .listdet .listwx p{
    line-height: 0.79rem;
    font-size: 0.27rem;
    position: absolute;
    left: 0.47rem;
}
.content .listdet .listhand{
    width: 100%;
    height: 2.72rem;
    background-color: #fff;
    text-align: center;
    padding: 1.06rem 0.15rem 0.77rem 0.15rem;
}
.content .listdet .listhand a{
    display: block;
    font-size: 0.28rem;
    color: #fff;
    width: 96%;
    height: 0.89rem;
    line-height: 1rem;
    background-color: #939393;
}
#mask1 {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}
#mask1 div {
    width: 70%;
    height: 2.83rem;
    margin: 3.97rem 15% 0 15%;
    background-color: #fff;
    z-index: 999;
    letter-spacing: 0.02rem;
    text-align: center;
    position: relative;
}
#mask1 div .fp {
    font-size: 0.33rem;
    padding: 0.26rem 1rem 0.19rem 1rem;
    position: relative;
}
#mask1 div img{
    position: absolute;
    right: 0.4rem;
    top: 0.25rem;
}
#mask1 div .ask{
    font-size: 0.23rem;
    padding: 0.4rem 0 0.3rem 0;
}
#mask1 div button {
    width: 1.2rem;
    height: 0.52rem;
    font-size: 0.33rem;
    background-color: #0084FF;
    color: #fff;
    font-weight: bold;
}